body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#post {
    height: 420px;
    width: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 60px;
    text-align: center;
    
}

.container img {
    height: 240px;
    width: 230px;
    padding: 20px 20px 10px 20px;
    border-radius: 30px;
}
#post h1 {
    margin: auto;
    font-size: 1.4em;
}

#post h5 {
    margin: 15px 15px 20px 15px;
    color: red;
    font-size: 1.2em;
}


button {
    font-size: 0.8em;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cadetblue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: rgb(54, 99, 100);
}


.container {
    position: relative;
}

.container i {
    color: #fff;
    font-size: 60px;
    position: absolute;
    top: 45%;
    left: 40%;
    opacity: 0.85;
    transform: scale(0);
    transition: transform ease 0.5s;

}